<po-page-default p-title="Clientes Incluir" [p-actions]="actions" [p-breadcrumb]="breadcrumb">

    <form [formGroup]="reactiveForm">
        <div class="po-row">
            <po-input class="po-md-2" p-label="Código" formControlName="A1_COD">
            </po-input>
            <po-input class="po-md-1" p-label="Loja" formControlName="A1_LOJA">
            </po-input>
            <po-radio-group class="po-md-4" p-label="Status"  formControlName="A1_MSBLQL" [p-options]="[
                { label: 'Ativo', value: '2' },
                { label: 'Inativo', value: '1' }
            ]" p-columns="2">
            </po-radio-group>
        </div>
        <div class="po-row">
            <po-input class="po-md-12" p-label="Nome" formControlName="A1_NOME">
            </po-input>
        </div>
        <div class="po-row">
            <po-input class="po-md-12" p-label="Nome Reduzido" formControlName="A1_NREDUZ">
            </po-input>
        </div>
        <div class="po-row">
            <po-input class="po-md-12" p-label="CPF/CNPJ" formControlName="A1_CGC">
            </po-input>
        </div>
        <div class="po-row">
            <label>
                Nome
                <input type="text" formControlName="A1_NOME">
            </label>
        </div>


    </form>
</po-page-default>